@font-face {
    font-family: libram;
    src: url(../fonts/libra/static/LibreFranklin-Medium.ttf);
}

@font-face {
    font-family: librab;
    src: url(../fonts/libra/static/LibreFranklin-Bold.ttf);
}
@font-face {
    font-family: libral;
    src: url(../fonts/libra/static/LibreFranklin-Light.ttf);
}